*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


div{
    background-image: url(https://cdn.pixabay.com/photo/2022/11/01/17/46/candle-7562931_960_720.jpg);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}



